<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
</head>
<body>
  <header>
    <a href="#">Create Email</a>
    <a href="#">Sentbox</a>
    <a href="#">Logout</a>
  </header>
  {{#each mail}}
    <div id="mail-{{id}}">
      {{sender}} {{datetime}} <br>
      {{message}}
    </div><br>
  {{/each}}
</body>
</html>